/* line 28, C:/Setup/xampp/htdocs/eragonwien/css/sass/_mixins.scss */
.bg-img, .bg-home, .bg-portfolio, .bg-resume, .bg-contact {
  background: no-repeat center center;
  background-size: cover;
}

/*** NAVBAR ***/
/* line 11, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.top-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
  background-color: #1A2930;
}

/*** HERO ***/
/* line 19, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.hero-img {
  width: 100%;
  height: 75%;
  margin: 0em 0em 2em 0em;
  font-weight: 900;
  text-shadow: 0px 0px 3px #000;
}

/*** FOOTER ***/
/* line 29, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.footer {
  width: 100%;
  padding: 2em 0em 2em 0em;
}

/* line 34, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.footer-icon, .footer-icon:hover {
  color: inherit;
}

/* line 37, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.footer-icon:hover {
  opacity: 0.7;
}

/*** PROJECTS ***/
/* line 41, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.projects {
  width: 100%;
  padding: 2em 1em 2em 1em;
  background-color: white;
}

/*** CONTACT ***/
/* line 47, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.overlay-full-page {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #1A2930;
  overflow-x: hidden;
}

/*** GENERAL ***/
/* line 58, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
html, body, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Raleway', Helvetica, sans-serif;
}

/* line 64, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.flex-centered, .hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 70, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.filter-layer {
  background-color: rgba(26, 41, 48, 0.5);
  background-size: cover;
}

/* line 75, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.shadow-layer, .hero-img {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

/* line 79, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.gray-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 83, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.bg-home {
  background-image: url("../images/home.jpg");
}

/* line 86, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.bg-portfolio {
  background-image: url("../images/portfolio.jpg");
}

/* line 89, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.bg-resume {
  background-image: url("../images/resume.jpg");
}

/* line 92, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.bg-contact {
  background-image: url("../images/contact.jpg");
}

/*** WHOLE PAGE ***/
/* line 96, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.whole-page {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

/* ANIMATION */
/* line 111, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.fade-animation {
  -webkit-transition: 1s;
  transition: 0.5s;
}

/* line 116, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.fade-animation.ng-enter {
  opacity: 0;
}

/* line 120, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.fade-animation.ng-leave {
  opacity: 1;
}

/* line 124, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

/* line 128, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

/* BLINKING CURSOR ANIMATION */
/* line 133, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  /* line 170, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  from, to {
    color: transparent;
  }
  /* line 173, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* MEDIA QUERY */
/* line 189, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
html a, html p {
  font-size: 1rem;
}

/* line 192, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
html h1 {
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  /* line 199, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html a, html p {
    font-size: 1rem;
  }
  /* line 202, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  /* line 209, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html a, html p {
    font-size: 1.2rem;
  }
  /* line 212, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html h1 {
    font-size: 5rem;
  }
  /* line 215, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html .top-navbar .nav-links a {
    display: block;
  }
  /* line 218, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html .top-navbar .nav-links .navbar-icon {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 225, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html a, html p {
    font-size: 1.3rem;
  }
  /* line 228, C:/Setup/xampp/htdocs/eragonwien/css/sass/app.scss */
  html h1 {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=../app.map */