@import "_breakpoint";
html {
    a, p {
        font-size: 1rem;
    }
    h1 {
        font-size: 3.5rem;
    }   
}

@include breakpoint(sm) {
    html {
        a, p {
            font-size: 1rem;
        }
        h1 {
            font-size: 3.5rem;
        }  
    }
}

@include breakpoint(md) {
    html {
        a, p {
            font-size: 1.2rem;
        }
        h1 {
            font-size: 5rem;
        }  
    }
}

@include breakpoint(lg) {
    html {
        a, p {
            font-size: 1.3rem;
        }
        h1 {
            font-size: 5rem;
        }  
    }
}

@include breakpoint(xl) {
    html {
        a, p {
            font-size: 1.4rem;
        }
        h1 {
            font-size: 5rem;
        }  
    }
}

