@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: 768px) { @content; }
  }
  
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
  
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
  
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin gray-filter($value) {
  -webkit-filter: grayscale($value);
  filter: grayscale($value);
}
@mixin sepia-filter($value) {
  -webkit-filter: sepia($value);
  filter: sepia($value);
}

.bg-img, %bg-img {
  background: no-repeat center center;
  background-size: cover;
}

@mixin background($name) {
  @extend %bg-img;
  background-image: url('../images/' + $name + '.jpg');
}

