
@import "_breakpoint";
@import "_fonts";
@import "_projects_links";
$dark: black;
$light: lightgray;

/*** HEIGHT & WIDTH **/
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  body {
    height: 100%;
    width: 100%;
    .welcome {
      height: 100%;
      width: 100%;
      .transparent-layer {
        height: 100%;
        width: 100%;
        .welcome-text {
          width: 80%;
          h4 {
            height: 4em;
          }
        }
      }
    }
  }
}
/*** GENERAL ***/
p {
  margin: 0 auto;
  text-align: justify;
}

.btn-rounded {
  padding: 1em 2em 1em 2em;
  border-radius: 5em;
}
/*** HEAD ***/
.welcome {
  background: $dark url("../images/title-pic.jpg") no-repeat center;
  background-size: cover;
  .transparent-layer {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .welcome-text { 
      color: white;
      text-align: center;
    }
  }
}
/*** BODY ***/
.skills {
  background-color: $light;
  position: relative
}
/*** FOOT ***/



/*** NAVBAR ***/

.custom-navbar {
  background-color: transparent; 
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  .container {
    width: 100%;
  }
}

