$dark: black;
$light: white;

/*** HEIGHT & WIDTH **/
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  body {
    height: 100%;
    width: 100%;
    .welcome {
      height: 100%;
      width: 100%;
    }
  }
}

/*** HEAD ***/
.welcome {
  background: black url("../images/title-pic.jpg") no-repeat center;
  background-size: cover;
  .welcome-text {
    color: white;
  }
}
/*** BODY ***/
/*** FOOT ***/
/*** ETC ***/