.portfolio {
    padding: 2em 0em;
    text-align: center;
    color: black;
    h2 {
        margin: 1em 0em;
        border-bottom: solid black;

    }
}   

.portfolio .gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    .project {
        position: relative;
        flex-grow: 1;
        margin: 0.5em;
        text-decoration: none;
        cursor: pointer;
    }
}   
.portfolio .img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
    padding: 0em 1em;
    p {
        margin-bottom: 1em;
    }
    a {
        text-decoration: none;
    }
}

.portfolio .project:hover {
    .img-text {
        opacity: 1;
    }
    img {
        opacity: 0.2;
    }
}

@include breakpoint(sm) {
    .portfolio .gallery .project {
        max-width: calc(50% - 2em);
    }
}
@include breakpoint(md) {
    .portfolio .gallery .project {
        max-width: calc(50% - 2em);
    }
}
@include breakpoint(lg) {
    .portfolio .gallery .project {
        max-width: calc(33.33% - 2em);
    }
}
@include breakpoint(xl) {
    .portfolio .gallery .project {
        max-width: calc(33.33% - 2em);
    }
}