<div class="overlay-full-page flex-centered fade-animation" ng-if="nav.contactPressed">
    <div class="container text-light" ng-init="contactIsSubmited = false">
        <span class="close" ng-click="nav.switchContact()"><i class="fas fa-window-close"></i></span>
        <div class="contact-form" ng-hide="contactIsSubmited == true">
            <h3 class="text-center">Contact me today</h3>
            <p class="text-center text-muted">nguyennhoangson@gmail.com</p>
            <form>
                <div class="form-group">
                    <label for="contact-first-name">Full Name *</label>
                    <small class="form-text text-muted" id="contact-fullname-help">I would like to know who am I speaking with</small>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control" id="contact-firstname" aria-describedby="contact-firstname-help">   
                            <small class="form-text text-muted" id="contact-firstname-help">First Name</small>                                             
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control" id="contact-lastname" aria-describedby="contact-lastname-help"> 
                            <small class="form-text text-muted" id="contact-lastname-help">Last Name</small>                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label for="contact-email">Email Address *</label>
                        <input type="email" class="form-control" id="contact-email" aria-describedby="contact-email-help">    
                    </div>
                    <div class="col-12 form-group">
                        <label for="contact-comment">Your Message *</label>
                        <small class="form-text text-muted" id="contact-comment-help">Send a message to my inbox</small>                                
                        <textarea class="form-control" name="contact-comment" id="contact-comment" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light rounded" ng-click="contactIsSubmited = true">Submit</button>
                <small class="text-muted" id="submit-help">* Required</small>
            </form>
        </div>
        <div class="contact-submitted text-center d-flex justify-content-center p-5" ng-hide="contactIsSubmited == false">
            <div class="align-self-center"> 
                <h1><i class="far fa-check-circle"></i> GREAT</h1>
                <p>I will contact you as soon as possible. </p>
                <a class="btn btn-outline-light rounded" ng-click="nav.switchContact()" href="#"><i class="fas fa-arrow-left"></i> BACK</a>
            </div>
            
        </div>
    </div>
</div>