<div class="slider">
    <ul class="slides">
        <li>
            <img src="images/flat_mountain_1.jpg" alt="project_img_1">
            <div class="caption center-align">
                <h1><span class="black">About me</span></h1>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col s12">
        <div class="section">
            <p class="flow-text">
                My name is Son, I'm 28 and live in Vienna.
                I recently graduated my bachelor in computer science in University of Vienna
                and I am looking for a job in the software development. 
            </p>
        </div>
        <div class="section">
            <p class="flow-text">
                In particular I have an interest in full-stack web development where I can be involved in both backend and frontend.
                I have a good understand of some backend technologies such as NodeJS, Java, Python 
                as well as frontend techs and framworks like HTML, CSS, JS, Angular 1.x, Gulp.
                I have built a few personal projects with Java, Python, NodeJS and MySQL 
                and I am currently resharping my skill in PHP to create a chat-bot in Telegram.
            </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h4>Work experience</h4>
            <h5>Internship in Software Testing and Administration</h5>
            <p class="flow-text"><strong>10.2017 - 1.2018</strong>, Institute of Science and Technology Austria</p>
            <p class="flow-text">
                I was responsible for the software testing of a web application 
                from point of views of different user roles. 
                I work closely with the development team reporting problems and bugs of the application
                as well as suggesting new features to satisfy the need of the client.
            </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h4>Education</h4>
            <h5>Bachelor of Science - Business Informatics</h5>
            <p class="flow-text"><strong>3.2015 - 10.2017</strong>, University of Vienna, Vienna, Austria</p>
            <h5>HAK Matura</h5>
            <p class="flow-text"><strong>9.2009 - 8.2014</strong>, Pernerstorferstrasse 77, 1100 Vienna, Austria</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.slider').slider({
            indicators: false
        });
    });
</script>