<div id="first_page" class="slider hero-img">
    <ul class="slides">
        <li>
            <img src="images/flat_mountain_1.jpg" alt="bg_image_1">
            <div class="caption left-align">
                <div class="row">
                    <div class="col s12">
                        <h3>
                            <span class="black">Hoang Son Nguyen</span> 
                        </h3>
                        <h4>
                            <a href="https://github.com/eragonwien" class="white-text" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="https://www.facebook.com/son.nguyenhoang.37" class="white-text" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/hoang-son-nguyen-286a5859/" class="white-text" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.xing.com/profile/HoangSon_Nguyen2/" class="white-text" target="_blank"><i class="fab fa-xing"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><span class="black flow-text">I'm a computer science graduate in Vienna and looking for a position as a web developer.</span></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function(){
        $('.slider').slider({
            indicators: false,
            height: 1000
        });
        $('.sidenav').sidenav();
    });
</script>