<div class="slider">
    <ul class="slides">
        <li>
            <img src="images/flat_mountain_1.jpg" alt="project_img_1">
            <div class="caption left-align">
                <h3><span class="black">My Portfolio</span></h3>
            </div>
        </li>
    </ul>
</div>
<div class="">
    <div class="row">
        <div class="col s12 m4">
            <div class="card medium hoverable">
                <div class="card-image red">
                    <img src="images/flat_mountain_2.jpg" alt="project_img_1">
                    <span class="card-title white-text">Nghouse</span>
                </div>
                <div class="card-content">
                    <p>Real estate web application in NodeJS</p>
                    <p>Backend: Nodejs, ExpressJS, MySQL</p>
                    <p>Frontend: AngularJS</p>
                </div>
                <div class="card-action red">
                    <a class="white-text" href="https://github.com/eragonwien/NG-House">Github</a>
                    <a class="white-text" href="http://nghouse.viewdns.net/">Demo</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="images/flat_mountain_2.jpg" alt="project_img_2">
                    <span class="card-title white-text">Meantodo</span>
                </div>
                <div class="card-content">
                    <p>Todo tracker in NodeJS</p>
                    <p>Backend: Nodejs, ExpressJS, MySQL</p>
                    <p>Frontend: AngularJS</p>
                </div>
                <div class="card-action red">
                    <a class="white-text" href="https://github.com/eragonwien/meantodo">Github</a>
                    <a class="white-text" href="http://meantodo.zapto.org/">Demo</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="images/flat_mountain_2.jpg" alt="project_img_3">
                    <span class="card-title white-text">Smart Sheft System</span>
                </div>
                <div class="card-content">
                    <p>A Python smart shelf system</p>
                    <p>Wireless stock monitoring (central) system</p>
                    <p>Tested on Raspberry Pi</p>
                </div>
                <div class="card-action red">
                    <a class="white-text" href="https://github.com/eragonwien/SmartShelf_Station">Server</a>
                    <a class="white-text" href="https://github.com/eragonwien/SmartShelf_Node">Node</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="images/flat_mountain_2.jpg" alt="project_img_4">
                    <span class="card-title white-text">A C# RPG game</span>
                </div>
                <div class="card-content">
                    <p>A RPG game in C#</p>
                </div>
                <div class="card-action red">
                    <a class="white-text" href="https://github.com/eragonwien/SimpleRPG">Github</a>
                </div>
            </div>
        </div>
    
        <div class="col s12 m4">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="images/flat_mountain_2.jpg" alt="project_img_4">
                    <span class="card-title white-text">Java Timer</span>
                </div>
                <div class="card-content">
                    <p>A simple timer using JavaFX</p>
                    <p>MVC-Pattern</p>
                </div>
                <div class="card-action red">
                    <a class="white-text" href="https://github.com/eragonwien/MVCAlarm">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.slider').slider({
            indicators: false
        });
    });
</script>