.forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 0.5em 1em;
    .form-title {
        margin: 0 0 1em 0;
    }

    .input-form {
        padding: 0em 2em 0em 0em;
        input {
            width: 100%;
            display: inline-block;
            border: 1px solid gray;
            padding: 0.5em;
            margin: 0.25em 0em;
        }
        .focus-button {
            margin: 0.5em 0 0 0;
        }
    }
}