.listing {
    h2 {
        text-align: center;
        margin: 0.5em 0em 0em 0em;
        border-bottom: solid black;
    }
    .resume-download {
        text-align: center;
        padding: 1em 0 2em 0;
    }
    .listing-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: flex-start;
        border-bottom: 1px solid black;
        padding: 0em 1em 1em 1em;  
    }
}

.listing .listing-row {
    .row-head {
        font-weight: bolder;
    }
    .row-body {
        dt {
            font-weight: bold;
        }
        dd {
            text-align: justify;
        }
    }
}

@include breakpoint(sm) {

}
@include breakpoint(md) {
    .listing .listing-row {
        flex-direction: row;
    }
}
@include breakpoint(lg) {
    .listing .listing-row {
        flex-direction: row;
    }
}
